.env
.parcel-cache
testinglines*

static/data/centers.json
static/data/centers.geojson

# From parcel-bundlder
node_modules/
/target/
.DS_Store
package-lock.json
coverage/
.nyc_output/
.cache/
.parcel-cache/
dist/
node_modules/
data/centers.json
