@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  box-sizing: border-box;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#arrow {
  transition: transform 400ms;
  transform-origin: center;
}

.open {
  transform: translateY(-2px) rotate(-180deg);
}
